@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.bn632-hover {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
  background-image: -webkit-gradient(linear, left top, right top, from(#25aae1), color-stop(#40e495), color-stop(#30dd8a), to(#2bb673));
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  -webkit-box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
          box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #1f2224;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 15px 15px;
  list-style: none;
  height: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  nav ul li a {
    padding: 15px 5px;
    font-size: 13px;
  }
}

nav ul li a:hover {
  cursor: pointer;
}

.hr {
  border-bottom: solid 5px;
  -o-border-image: linear-gradient(0deg, #25aae1, #2bb673) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(#25aae1), to(#2bb673)) 1;
     border-image: linear-gradient(0deg, #25aae1, #2bb673) 1;
  -webkit-animation: huerotate 6s infinite linear;
          animation: huerotate 6s infinite linear;
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  border-radius: 0;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .converter {
  margin: auto;
  border: 10px solid;
  -o-border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
     border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
  -webkit-clip-path: inset(0px round 10px);
          clip-path: inset(0px round 10px);
  -webkit-animation: huerotate 6s infinite linear;
          animation: huerotate 6s infinite linear;
  border-radius: 0;
}

main .converter--container {
  padding: 40px 60px;
}

@media screen and (max-width: 768px) {
  main .converter--container {
    padding: 10px 15px;
  }
}

main .converter h1 {
  color: white;
}

@-webkit-keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rorate(360deg);
            filter: hue-rorate(360deg);
  }
}

@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rorate(360deg);
            filter: hue-rorate(360deg);
  }
}

main .converter__item {
  color: white;
  margin: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .converter__item--from {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .converter__item--btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .converter__item .small__info {
  font-size: 13px;
}

main .converter__item #amount {
  outline: none;
  padding: 11px 5px;
  background: transparent;
  border: 3px solid;
  -o-border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
     border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
  -webkit-clip-path: inset(0px round 3px);
          clip-path: inset(0px round 3px);
  color: white;
  font-size: 18px;
  margin: 5px 0 10px 0;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.active a {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  background: linear-gradient(45deg, #25aae1, #40e495, #30dd8a, #2bb673);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 6s infinite linear;
          animation: shine 6s infinite linear;
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
}

@-webkit-keyframes shine {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rorate(360deg);
            filter: hue-rorate(360deg);
    background-position: 200% center;
  }
}

@keyframes shine {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rorate(360deg);
            filter: hue-rorate(360deg);
    background-position: 200% center;
  }
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

form .drop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop-list .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid;
  -o-border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
     border-image: linear-gradient(45deg, #25aae1, #2bb673) 1;
  -webkit-clip-path: inset(0px round 3px);
          clip-path: inset(0px round 3px);
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  outline: none;
  width: auto;
  font-size: 16px;
  background: none;
  color: white;
  border: none;
  margin: 0 -5px 0 5px;
}

.select-box select option {
  border: none;
  background: black;
}

.select-box select::-webkit-scrollbar {
  width: 8px;
}

.select-box select::-webkit-scrollbar-track {
  background: black;
}

.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}

form .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
  color: white;
}
/*# sourceMappingURL=main.css.map */