$blue:#06283D;
$darkblue:#06283D;
$dark:#1f2224;
$middleblue:#256D85;
$lightblue:#47B5FF;
$bluewhite:#DFF6FF;
$large:1200px;
$large_device:'(min-width: 1200px) and (max-width: 1500px)';

/* Normal desktop :992px. */

$mid_device:'(min-width: 992px) and (max-width: 1200px)';

/* Tablet desktop :768px. */

$tablet_device:'(min-width: 768px) and (max-width: 991px)';

/* small mobile :320px. */

$smobile:320px;
$mobile:768px;
$mobile_device:'(max-width: 767px)';

/* Large Mobile :480px. */

$lmobile:480px;
$large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';